<div class="container myContainer col-md-8 mx-auto">
    <form [formGroup]="signUpForm" class = "col-md-8 mx-auto py-4" (ngSubmit)="signUp()">
        <div class="form-group" formGroupName="basicInformation">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
        </div> <!-- Basic info -->

        <div class="form-group" formGroupName="authInformation">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
        </div> <!-- Auth info -->

        <p-button class = "offset-4 mt-3" label="Submit" type="submit" icon="pi pi-check"></p-button>
    </form>

    <div [hidden]="validSignUp" class="alert alert-danger">
        Something went wrong, try again
    </div>

</div>