<button class = "btn btn-light" (click) = "goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
    Go Back
</button>


<div class = "container">
    <div class="row align-items-center">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="heroName"><h2>Hero name:</h2></label>
                    <input type="text" class="form-control from-control-lg" 
                    id="heroName" placeholder="Enter the name" #heroName/>
                </div>
                
                <div class="form-group">
                    <label for="alterEgo"><h2>Alter Ego:</h2></label>
                    <input type="text" class="form-control from-control-lg" 
                    id="alterEgo" placeholder="Enter the alter ego name" #alterEgo/>
                </div>

                <div class="form-group">
                    <label for = "powers">Powers</label>
                    <select class="form-select" id = "powers" #power>
                        <option *ngFor="let power of powers" [selected]>{{ power.name }}</option>
                    </select>
                </div>

                <div class="form-group" style="margin-top: 2em;">
                    <button class="mat-button" mat-flat-button color="primary"
                     (click) = "addHero(heroName.value, power.value, alterEgo.value)">
                        Create
                    </button>
                </div>
            </form>
        </div>

        <div class = "col align-self-center">
            <img src="assets/images/heroSentence.jpg" width = "100%">
        </div>
    </div>
</div>