<h2>All Heroes</h2>
<table class="table table-bordered centered heroes">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes" class="table-item" (click)="onSelect(hero)"
         [class.selected] = "hero === selectedHero">
            <td>{{ hero.id }}</td>
            <td>{{ hero.name }}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>

    <div class="card centered">
        <ul class="list-group">
            <li class="list-group-item">Id: {{ selectedHero.id }}</li>
            <li class="list-group-item">Name: {{ selectedHero.name }}</li>
        </ul>
    </div>

    <div class="form-group centered">
        <label for="name">Edit Hero name</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="selectedHero.name" 
         placeholder="Name" />
    </div>
</div>


<mat-slider min="1" max="100" step="1" value="50"></mat-slider>