<h2>All Heroes</h2>
<table class="table table-bordered centered heroes">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes" class="table-item" (click)="onSelect(hero)"
         [class.selected] = "hero === selectedHero">
            <td>{{ hero.id }}</td>
            <td>{{ hero.name }}</td>
        </tr>
    </tbody>
</table>

<app-hero-detail [hero] = "selectedHero"></app-hero-detail>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>