.centered{
    width:fit-content;
    min-width: 25%;
    margin: auto;
}


.table-item:hover {
    background-color: cadetblue;
    transform: translate(0px, -3px);
    cursor: pointer;
}


.btn-centered {
    height: fit-content;
    display: block;
    margin: auto;
    padding-top: 2em;
}